name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: 1.22

      - name: Install dependencies
        run: go mod tidy

      - name: Линт
        uses: golangci/golangci-lint-action@v3
        with:
        version: v1.64.8  # или v2.7.2 — как вам нужно

      - name: Run tests
        run: go test ./...